*
{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.head{
    background-color: #051f34;
    width: 100%;
    height: 90px;
}

.choiceblocks{
    display: flex;
    justify-content: space-around;
   height: 100%;
   align-items: flex-end;
font-size: 28px;
}
.choice1{
    text-decoration: none;
    color: #f4f5f5;
    padding-bottom: 10px;

}

main{
    background-color: #027495;
    height: 800px;
    overflow: hidden;
}

footer{
    background-color: #051f34;
    height: 90px;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
}


.info
{
    font-size: 28px;
    color: #f4f5f5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 100px;
    padding-top: 15px;
}
main h2{
    color: #f4f5f5;
    display: flex;
    justify-content: center;
    padding-top: 65px;
}
.video{
    display: flex;
    flex-direction: column;
}
.video2{
    display: flex;
    flex-direction: column;
   align-items: flex-end;
}
.video3{
    display: flex;
    flex-direction: column;
}
.allv{
    display: flex;
justify-content: space-around;
padding-top: 50px;
padding-left: 700px;
}
main p{
    text-align: justify;
    height: 100px;
    width: 640px;
    font-size: 27px;
    color: #f4f5f5;
    padding-left: 20px;
}
.goodtext{
    font-size: 28px;
    color: #f4f5f5;
    display: flex;
    position: relative;
    left: 950px;
}
.choice2
{
    position:relative;
    z-index:2; 
    height: 129px;
    width: 10vw;
    display:flex;
    justify-content: center;
    top:-65px;

}

.container{
  padding-left: 865px;
}
.choice2 img{
    height: 129px;
}

